html {
    height: 100%;
}
body {
    height: 100%;
}

div.graphblock {
    width: 100%;
    height: 40%;
}

form {
    display: inline;
}

fieldset {
    display: inline;
}

.graphblock h1 {
    font-size: large;
}

#attack {
    width: 90%;
    height: 90%;
}

#defense {
    width: 90%;
    height: 90%;
}
